
*.prefs
*.s43
*.asm
*.launch
*.raw
hardware/Motorboar/Mortoboard V1/History/**
hardware/Motorboar/Mortoboard V1/Project Logs for MotorBoard/**
hardware/Motorboard V1.5/History/**
hardware/Motorboard V1.5/Project Logs for MotorBoard/**
hardware/Motorboard V2.0/History/**
hardware/Motorboard V2.0/Project Logs for MotorBoard/**
